.Experiences {
    display: flex;
    width: 25%;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .ContactMe > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }