html {
    background-color: #020c1b;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

header {
    text-align: center;
    font-size: large;
    text-decoration-line: underline;
}

Main {
    display: flex;
    flex-wrap: wrap;
    
}

nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-evenly;
}

nav :hover {
    text-decoration-line: underline;
    background-color: whitesmoke;
    color: black;
}

.AboutMe,
.Experiences,
.ContactMe {
    width: 100%;
    text-align: center;
}

.card {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
}

  .card img {
    width: 100%;

}

.card:hover {
    background-color: whitesmoke;
    color: black;
}

.container {
    padding: 5px;
}

    

#ProfilePic {
    border-radius: 50%;
}

#Automate,
#SharePoint {
    max-width: 250px;
    max-height: 250px;
}