html {
    background-color: #020c1b;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

header {
    text-align: center;
    font-size: large;
    text-decoration-line: underline;
}

img {
    border-radius: 50%;
}
Main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-between;
}

nav :hover {
    text-decoration-line: underline;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }

.AboutMe {
    width: 100%;
    text-align: center;
}
.Experiences {
    display: flex;
    width: 25%;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .ContactMe > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

